<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django debug</title>
  </head>
  <body>
    {%if name and age < 18%}
    <h1>Hello {{name}}</h1>
    {%else%}
    <h1>Hello world</h1>
    {% endif %}
    <ul>
      {%for order in orders%}
      <li>
        {% comment %} {{product.title}}= ${{product.unit_price}}
        <ul>
          <li>Inventory: {{product.inventory}}</li>
          <li>Collection: {{product.collection_id}}</li>
        </ul>
        {% endcomment %} 
        {{order.id}} -- {{order.customer.first_name}}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
